.bg-gradient-primary {
    /* background-image: linear-gradient(180deg, #021234 10%, red 100%); */
    background-image: linear-gradient(180deg, #021234 10%, #012a02 100%);
  }

.sidebar .sidebar-brand {
    text-transform: unset;
}

.bg-white{
    background-color: #021234 !important;
}

#content-wrapper {
    background-color: #021234 !important;
}

#clock{
    color: rgb(14, 160, 9);
    font-weight: bold;
    font-size: 20px;
  }

#my_chart_area{
    height: 100% !important;
}

#myAreaChart{
    max-width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

#form{
    width: 800px;
}

